body{
    text-align: center;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
    background-color:#FEF3C7;
    font: 1em sans-serif;

    
}

#input{
    margin-top:2.5rem;
    border: 2px solid black;
    height:3.5rem;
    width: 300px;

}

#outputdiv{
    text-align: center;
    border: 2px solid black;
    height: 3.5rem;
    width: 300px;
    

}
img{
    padding: 1rem;
    height: 15rem;

}

button{
    color:red;
    border: 2px solid red;
    height: 2rem;
    width:250px;
    font-size: larger;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2rem;
}